*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myContainer{
    width: 80%;
}

.articulos{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 20px;
    
}



img{
    display: block;
    width: 100%;
}

.articulo{
    background-color: rgba(125, 250, 8, 0.89);
    color: #8c004b;
    text-align: center;
    padding: 20px;
    border: 4px solid #ff8000;
}

figure{

    margin: 30px 0;
}

h3{

    border: 3px solid #ff8000;
    padding: 10px;
}

h2, h3, p{
    margin-bottom: 30px;
}


h4{
    padding: 10px;
}

.label{

    padding: 0 10px;
    background-color: #ff8000;
    color: #8c004b;
}

.select{
     margin-top: 5px;
     width: 33.33%;
} 


/*MEDIA QUERIES*/

@media(max-width:1140px){ 

    .select{

        width: 33.333%;
    } 

}




@media(max-width:960px){ 

    .articulos{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
    }

    .select{

        width: 50%;
    } 

}


@media(max-width:768px){ 

    .articulos{

    display: grid;
    grid-template-columns: 1fr;
    
    
    }

    .select{

        width: 100%;
    } 

}
