
.myContainer{

    margin: 0 auto;
}


.miColor{

    background-color: #ff8000;
    color: #8c004b;
}

.text-center{
    background-color: #ff8000;

}

a{
    color:  #8c004b;
}



/* MEDIA QUERIES */


@media(max-width:767px){ 

    .myContainer{

     width: 100%;
    }


}



